$container-width: 1200px;

@media screen and (max-width: 1199px) {
  $container-width: 1180px;
}
@media screen and (max-width: 991px) {
  $container-width: 1180px;
}
@media screen and (max-width: 767px) {
  $container-width: 1180px;
}

@media screen and (max-width: 566px) {
  $container-width: 1180px;
}
