.contact-page {
  font-family: 'Arial', Arial, sans-serif;
  margin-bottom: 20px;

  &-container {
    @media screen and (min-width: 1199px) {
      width: 1200px;
    }
    @media screen and (max-width: 1199px) {
      width: 960px;
    }
    @media screen and (max-width: 991px) {
      width: 720px;
    }
    @media screen and (max-width: 767px) {
      width: 540px;
    }
    @media screen and (max-width: 566px) {
      width: 80vw;
    }

    margin: 0 auto 100px auto;
    display: flex;
    flex-wrap: nowrap;

    @media screen and (max-width: 991px) {
      flex-direction: column;
      flex-wrap: unset;
    }

    @media screen and (max-width: 566px) {
      margin-bottom: 0;
    }
  }

  &-map {
    width: 50%;
    max-width: 656px;
    min-height: 400px;
    height: 400px;
    background-color: #767676;

    @media screen and (max-width: 991px) {
      width: 100%;
      min-height: 300px;
    }

  }

  &-info {
    padding-top: 40px;
    padding-left: 80px;

    @media screen and (max-width: 566px) {
      padding-left: 0;
    }

    &-title {
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 40px;
    }

    &-blocks {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &-el {
        width: 50%;
        margin-bottom: 44px;
        text-align: left;

        &-title {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 24px;
          text-transform: uppercase;
          color: #2d3142;
        }

        &-text {
          font-size: 20px;
          color: #2d3142;
          margin-bottom: 20px;
        }
      }
    }
  }

  &-mail {
    width: 50%;
    margin-left: 50%;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 566px) {
      width: 100%;
      margin-left: 0;
      flex-direction: column;
      justify-content: flex-start;
    }


    &-social {
      width: 50%;

      &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
        color: #2d3142;
      }

      &-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @media screen and (max-width: 566px) {
          margin-bottom: 20px;
        }

        &-el {
          width: 30px;
          height: 30px;
          margin-right: 15px;

          img {
            width: 26px;
            height: 26px;
            margin-right: 20px;

          }
        }
      }
    }

    &-button {
      width: fit-content;
      background: transparent;
      padding: 6px 24px;
      font-size: 16px;
      line-height: 32px;
      font-weight: 500;
      text-align: center;
      border: 1px solid #757781;
      transition: .3s;
      text-transform: uppercase;
      cursor: pointer;
      box-sizing: border-box;
      height: 45px;
      @media screen and (max-width: 566px) {
        width: 100%;
      }
    }

    &-popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(120, 120, 120, 0.3);

      &.active {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-container {
        width: 90%;
        max-width: 944px;
        background-color: #FFFFFF;
        padding: 75px 150px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        @media screen and (max-width: 566px) {
          padding: 30px;
        }
      }

      &-title {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 40px;

        @media screen and (max-width: 566px) {
          font-size: 30px;
          align-self: flex-start;
        }

      }

      &-form {
        width: 100%;

        form {
          width: 100%;

          p {
            margin: unset !important;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            span {
              width: 100%;
            }

            .wpcf7-spinner {
              display: none;
            }
          }

          input {
            width: 100%;
            height: 44px;
            padding: 10px 16px;
            margin-bottom: 16px;
            background: transparent;
            border: 1px solid #757781;
            color: #000;
            box-sizing: border-box;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              opacity: 1;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              opacity: 1;
            }

            &[type=submit] {
              width: 100px;
              height: 40px;
              margin: auto;
            }

          }

          textarea {
            width: 100%;
            height: 132px;
            padding: 10px 16px;
            margin-bottom: 16px;
            background: transparent;
            border: 1px solid #757781;
            color: #000;
            box-sizing: border-box;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              opacity: 1;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              opacity: 1;
            }
          }
        }
      }

      &-close {
        background-image: url("../images/close-dark.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50px;
        right: 50px;
        @media screen and (max-width: 1199px) {
          right: 75px;
        }
        @media screen and (max-width: 991px) {
          right: 100px;
        }
        @media screen and (max-width: 566px) {
          top: 35px;
          right: 30px;
        }

      }
    }

  }

}

