.fixed-header {
  position: fixed;
  width: 97%;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: 1s;

  &-logo {
    width: 150px;
    height: 42px;
    margin-left: 28px;

    @media screen and (max-width: 566px) {
      margin-left: 0;
    }

    img {
      height: 100%;
    }
  }

  &-burger {
    background-image: url("../images/hamburger.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;

    &-open {
      background-image: url("../images/close.png");
    }
  }

  &__hidden {
    top: -200px;
  }

}
