.top-menu {
  position: fixed;
  top: 0;
  left: 100vw;
  height: 100vh;
  width: 100vw;
  background-color: #080808;
  color: #FFFFFF;
  transition: 1s;
  z-index: 20;

  &-open {
    left: 0;
  }

  &-container {
    height: 90vh;
    @media screen and (min-width: 1199px) {
      width: 1200px;
    }
    @media screen and (max-width: 1199px) {
      width: 960px;
    }
    @media screen and (max-width: 991px) {
      width: 720px;
    }
    @media screen and (max-width: 767px) {
      width: 540px;
    }
    @media screen and (max-width: 566px) {
      width: 80vw;
    }

    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 566px) {
      width: 90vw;
      padding: 20px;
    }
  }

  &-links {
    &-item {
      display: block;
      color: #FFFFFF;
      font-size: 3vw;
      font-weight: 400;
      font-family: 'FuturaPT', 'Arial', sans-serif;
      text-decoration: none;
      line-height: 1.4em;

      @media screen and (max-width: 566px) {
        font-size: 25px;
      }

      &-logo {
        width: 200px;
        height: 40px;
        margin-bottom: 40px;
      }
    }
  }

  &-social {
    &-list {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;

      &-item {
        text-decoration: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: block;
        margin-right: 10px;
      }
    }

    &-phones {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: 566px) {
        flex-direction: column;
      }

      &-item {
        padding: 10px 20px;
        background-color: #FFFFFF;
        color: #000000;
        display: block;
        margin-right: 40px;
        font-size: 14px;
        font-weight: 700;
        font-family: 'FuturaPT', 'Arial', sans-serif;
        text-decoration: none;

        @media screen and (max-width: 566px) {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-close {
    background-image: url("../images/close.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 50px;
    @media screen and (max-width: 1199px) {
      right: 75px;
    }
    @media screen and (max-width: 991px) {
      right: 100px;
    }
    @media screen and (max-width: 566px) {
      top: 25px;
      right: 25px;
    }

  }
}

@media screen and (max-width: 566px) {
  .admin-bar {
    .top-menu {
      top: 46px;
      height: calc(100vh - 46px);
    }
  }
}
