@mixin container-width {
  @media screen and (min-width: 1199px) {
    width: 1200px;
  }
  @media screen and (max-width: 1199px) {
    width: 960px;
  }
  @media screen and (max-width: 991px) {
    width: 720px;
  }
  @media screen and (max-width: 767px) {
    width: 540px;
  }
  @media screen and (max-width: 566px) {
    width: 80vw;
  }
}

@mixin about-content-margins {
  @media screen and (min-width: 1199px) {
    margin-right: 0;
    margin-left: 70px;
  }
  @media screen and (max-width: 1199px) {
    margin-right: 16px;
    margin-left: 10px;
  }
  @media screen and (max-width: 991px) {
    margin-right: calc( calc( 100vw - 720px ) / 2);
    margin-left: calc(calc(calc(50vw - calc( calc( 100vw - 720px ) / 2) ) - 460px ) / 2);
  }
  @media screen and (max-width: 767px) {
    margin-right: calc( calc( 100vw - 540px ) / 2);
    margin-left: calc( calc( calc( 50vw - calc( calc( 100vw - 540px ) / 2) ) - 460px ) / 2);
  }
  @media screen and (max-width: 566px) {
    margin-right: calc( calc( 100vw - 80vw ) / 2);
    margin-left: calc( calc( calc( 50vw - calc( calc( 100vw - 80vw ) / 2) ) - 460px ) / 2);
  }
}
