.header {
  position: relative;
  width: 100%;

  &-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: $container-width;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    background-color: #0A246A;
    width: 201px;
    height: 42px;
    margin-left: 28px;
  }

  &-burger {
    background-image: url("/img/burger-bar.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;

    &-open {
      background-image: url("/img/close.png");
    }
  }
}