.tagline {
  display: flex;

  &-container {
    @include container-width();
    margin: 114px auto;
  }

  &-text {
    font-family: 'FuturaPT', Arial, sans-serif;
    color: #080808;
    font-size: 120px;
    line-height: 1;

    span {
      display: block;
      width: 100%;
    }
  }
}